node_modules
.DS_Store
dist
dist-zipped
dist-zip
umd
amd
generated
.fleet
package-lock.json
.turbo
*.mp4
ffmpeg.txt
*.so
*.dylib
*.dll
ghost/content/logs
ghost/.ghostpid
ghost/static
*.log.lsp
.clj-kondo
.lsp/
.zed
.vscode
